DB_NAME="Database name"
DB_PSWD="Database password"
DB_HOST="Database host url"
DB_USER="Database user"

JWT_SECRET="256-bit JWT secret key"
JWT_ALGORITHM="JWT encryption algorithm"

REDIS_URL="Redis url"

PRODUCTION="Set to 1 if production, if development to 0"
